.menu{
	&__ul{
		display: flex;
		align-items: center;
	}
	&__item{
		padding: 0 21px;
		a{
			font-size: 18px;
			line-height: 158%;
			color: #000000;
			&:hover{
				color: $orange;
			}
		}
	}
}

.lang{
	position: relative;
	&__dropdown{
		position: absolute;
		top: -13px;
		left: -13px;
		padding: 61px 13px 13px;
		width: calc(100% + 26px);
		pointer-events: none;
		transition: 0.3s ease-in-out;
		transform: scale(0);
		opacity: 0;
		transform-origin: center 28px;
		@include max(md){
			top: vw(-10);
			left: vw(-10);
			padding: vw(48) vw(10) vw(10);
			width: calc(100% + 5.333vw);
			transform-origin: center vw(22);
		}
		&::before{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: -1;
			background: #FFFFFF;
			box-shadow: 0 0.768965px 7.68965px rgba(0, 0, 0, 0.1);
			border-radius: 100px;
			@include max(md){
				box-shadow: 0 vw(0.768965) vw(7.68965) rgba(0, 0, 0, 0.1);
				border-radius: vw(100);
			}
		}
	}
	&__link{
		width: 32px;
		height: 32px;
		display: block;
		cursor: pointer;
		border-radius: 50%;
		@include max(md){
			width: vw(24);
			height: vw(24);
			img{
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}

		+.lang__link{
			margin-top: 16px;
			@include max(md){
				margin-top: vw(12);
			}
		}

		&--curent{
			position: relative;
			z-index: 2;
		}
	}

	&--active{
		.lang{
			&__link{
				&--curent{
					outline: 2px solid #DFDFDF;
				}
			}
			&__dropdown{
				pointer-events: auto;
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}

.header{
	$self: &;
	padding: 44px 0 26px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #ffffff;
	z-index: 100;
	border-bottom: 1px solid transparent;
	transition: padding 0.2s ease-in-out, background-color 0.2s linear;
	@include max(lg){
		border-bottom: 1px solid #F2F2F2;
		padding: 15px 0 15px;
	}
	@include max(md){
		position: fixed;
		padding: vw(12) 0 vw(8);
	}
	&__container{
		position: relative;
		z-index: 100;
	}
	&__row{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo{
		margin-right: 59px;
		@include max(lg){
			margin-right: 0;
		}
		@include max(md){
			width: vw(133);
		}
		img{
			max-width: 100%;
			@include max(md){
				width: 100%;
			}
		}
	}
	&__burger{
		display: none;
		@include max(lg){
			display: flex;
			text-align: center;
			justify-content: center;
		}
		@include max(md){
			width: vw(24);
		}
		img{
			width: 100%;
			&:nth-child(2){
				display: none;
			}
		}
	}
	&__menu{
		@include max(lg){
			display: none;
		}
	}
	&__right{
		display: flex;
		align-items: center;
	}
	&__contact{
		font-size: 18px;
		line-height: 158%;
		color: #000000;
		margin-right: 39px;
		&:hover{
			color: $orange;
		}
		@include max(lg){
			display: none;
		}
	}
	&__btn{
		margin-right: 32px;
		padding: 10px 35px;
		@include max(lg){
			display: none;
		}
	}
	&__lang{}

	&--inner{
		#{$self}{
			&__logo{
				margin-right: 0;
			}
			&__contact{
				margin-right: 15px;
				@include max(xl){
					display: none;
				}
			}
			&__btn{
				margin-right: 24px;
				padding: 10px 37px;
			}

			.menu{
				&__item{
					padding: 0 30px;
				}
			}
		}
	}

	&--fixed{
		position: fixed;
		padding: 20px 0 26px;
		border-bottom: 1px solid #F2F2F2;
		@include max(lg){
			border-bottom: 1px solid #F2F2F2;
			padding: 5px 0 5px;
		}
		@include max(md){
			padding: 0;
		}
		@include min(md){
			transform: translateY(-100%);
		}
	}
	&--show{
		@include min(md){
			transform: translateY(0);
		}
	}
	&--animate{
		@include min(md){
			transition: 0.3s ease-in-out;
		}
	}



	&__mobile{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 90;
		width: 100%;
		overflow: auto;
		height: 100vh;
		height: calc(var(--vh) * 100);
		padding-top: 93px;
		background: #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		transform: translateX(-100%);
		pointer-events: none;
		transition: transform 0.3s ease;
		@include max(md){
			padding-top: vw(71);
		}
		@include min(lg){
			display: none !important;
		}

		&-menu{
			flex-grow: 1;
			display: flex;
			align-items: center;
		}
		&-bottom{
			padding-bottom: 27px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include max(md){
				padding-bottom: vw(27);
			}
		}
		&-socials{}
		&-stores{
			margin-top: 32px;
			@include max(md){
				margin-top: vw(32);
			}
		}
		&-btn{
			padding: 10px 37px;
			margin-top: 30px;
			@include max(md){
				padding: vw(10) vw(37);
				margin-top: vw(30);
			}
		}
		&-tel{
			font-size: 16px;
			line-height: 1.78;
			color: #000000;
			opacity: 0.5;
			margin-top: 17px;
			text-align: center;
			@include max(md){
				font-size: vw(16);
				margin-top: vw(17);
			}
		}
		&-contact{
			font-size: 18px;
			line-height: 1.58;
			text-align: center;
			color: #F4A93C;
			margin-top: 30px;
			@include max(md){
				font-size: vw(18);
				margin-top: vw(30);
			}
		}
	}



	&.active{
		@include max(lg){
			transform: translateY(0);
			.header__burger{
				img{
					&:nth-child(1){
						display: none;
					}
					&:nth-child(2){
						display: block;
					}
				}
			}
			.header__mobile{
				transform: translateX(0);
				pointer-events: auto;
			}
			.header__container{
				background: #ffffff;
			}
		}
	}
}

.mob-menu{
	&__ul{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__item{
		padding: 9px 14px;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		@include max(md){
			padding: vw(9) vw(14);
		}
		+.mob-menu__item{
			margin-top: 50px;
			@include max(md){
				margin-top: vw(50);
			}
		}
		a{
			font-weight: 500;
			font-size: 32px;
			line-height: 0.89;
			color: #000000;
			@include max(md){
				font-size: vw(32);
			}
		}
		&.active{
			border-bottom-color: #F4A93C;
		}
	}
}

.mob-socials{
	display: flex;
	align-items: center;
	@include max(md){
		margin-right: vw(-16);
		margin-left: vw(-16);
	}
	&__item{
		display: block;
		margin: 0 16px;
		width: 24px;
		@include max(md){
			margin: 0 vw(16);
			width: vw(24);
		}
		img{
			width: 100%;
		}
	}
}

.mob-stores{
	display: flex;
	align-items: center;
	@include max(md){
		margin-right: vw(-10);
		margin-left: vw(-10);
	}
	&__item{
		display: block;
		margin: 0 16px;
		@include max(md){
			margin: 0 vw(10);
		}
		img{
			width: 100%;
		}
		&--1{
			width: 135px;
			@include max(md){
				width: vw(135);
			}
		}
		&--2{
			width: 120px;
			@include max(md){
				width: vw(120);
			}
		}
	}
}


.menu-opened{
	@include max(lg){
		overflow: hidden;
	}
}
