/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
	user-select: none;
}

body {
  font-family: $mainfont;
  margin: 0;
  padding: 0;
	background: white;
	color: black;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}




.wrapper{
	width: 100%;
	overflow: hidden;
	padding-top: 130px;
	@include max(lg){
		padding-top: 93px;
	}
	@include max(md){
		padding-top: vw(71);
	}
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	@include max(xl){
		max-width: 1000px;
	}
	@include max(lg){
		max-width: 95%;
	}
	@include max(md){
		max-width: 100%;
		padding: 0 vw(20);
	}
}
